{% extends "layout.html" %}

{% block title %}
   Channels
{% endblock %}

{% block body %}
<div class="container1">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Chat Flack: Es hora de socializar.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item topmargin">
               <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Crear Canal
                </button> 
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <input type="text"  id="nombre_canal">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button  id="crearCanal" class="btn btn-primary" data-bs-dismiss="modal" type="button">Crear</button>
                      </div>
                    </div>
                  </div>
                </div>
            </li>
            
            <li class="nav-item dropdown topmargin">
               <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Canales
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                     <div id="item-canales" class="container"> 
                     {%for canales in lista_canales%}
                     <li class="room dropdown-item" value="{{canales}}" id="item-li">{{canales}}</li>
                    {%endfor%}
                  </div>
                  </ul>
                </div>
            </li>
            <li class="nav-item topmargin">
               <a id="SalirLocal" class="nav-link" href="/logout">Salir</a>      
            </li>
          </ul>
         
        </div>
      </div>
    </nav>

   <div class="contact-info">
       <div class="avatar">
           <img src="https://code-fu.net.ni/wp-content/uploads/2016/09/Code-FU.svg" alt="Avatar">
       </div>
       <div class="user-info">
         <span class="navbar-brand">Canal: </span>
         <span class="navbar-brand" id="actual_canal">{{ canal_actual }}</span>
         <span class="navbar-brand" id="actual_canal">Usuario: </span>
         <span class="navbar-brand-user" id="actual_user">{{ user_actual }}</span>
         
       </div>
   </div>
   <!-- <div id="contenido-mensaje2">
      <ul id="msg" class="MSG1">
         
   
      </ul>
   </div> -->
   <div class="chat-box MSG1" id="contenido-mensaje " >
      <ul id="msg" ></ul>
       <!-- <div class="message primary">Lorem ipsum dolor sit amet. <div class="timestamp">02:11</div></div>
       <div class="message secondary">Lorem ipsum dolor sit amet. <div class="timestamp">02:11</div></div>
       <div class="message primary">Lorem ipsum dolor sit amet. <div class="timestamp">02:11</div></div>
       <div class="message primary">Lorem ipsum dolor sit amet. <div class="timestamp">02:11</div></div>
       <div class="message secondary">Lorem ipsum dolor sit amet. <div class="timestamp">02:11</div></div>
       <div class="message secondary">Lorem ipsum dolor sit amet. <div class="timestamp">02:11</div></div>
       <div class="message primary">Lorem ipsum dolor sit amet. <div class="timestamp">02:11</div></div>
       <div class="message primary">Lorem ipsum dolor sit amet. <div class="timestamp">02:11</div></div>
       <div class="message secondary">Lorem ipsum dolor sit amet. <div class="timestamp">02:11</div></div>
       <div class="message secondary">Lorem ipsum dolor sit amet. <div class="timestamp">02:11</div></div> -->
   </div>

   <div class="input-area">
       <input type="text" name="" id="mensaje">
       <button id="enviar_mensaje" type="submit"><i class="fas fa-paper-plane">Enviar</i></button>
       <select  id ="target" value="Emoji"><select>
   </div>
</div>


{% endblock%}