{% extends "layout.html" %}

{% block title %}
   Login
{% endblock %}

{% block body %}
<body class="bg-light">

    <main class="container p-5">
        <div class="card">
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control index-input" name="name" placeholder="Display name" type="text"/>
                    </div>
                    <button class="btn btn-primary" id="login1" type="submit">Continue</button>
                </form>
            </div>
        </div>
    </main>

<!-- <div id="registroUsuario">
    <form action="/login" method="POST">
        <div class="align-items-center">
            <div class="form-group col-sm-3 my-1 ">
            <label for="exampleInputEmail1 nombre">Usuario</label>
            <input name="nombre" id="nombre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div> -->
{% endblock body %}